*{
margin: 0;
padding: 0;
border: 0px solid #000;
}

@media screen and (min-width: 1280px){
/*Estilos por dewfecto*/
}

@media screen and (max-width: 1279px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 480px){

}